.gallery{
    text-align: center;
    display: grid;
    gap:1rem;
   }
   .gallery__header{
       color: var(--first-color);
   }
   .gallery__contener{
    display: flex;
    gap: 2.2rem;
   }
   @media (max-width:965px){
    .gallery__contener{
        display: flex;
        flex-direction: column;
       
    }
}