.footerTop{
    height: 50px;
    width: 98.5vw;
    background-color: var(--six-color);
    border: 1px solid var(--six-color);
    margin-top: 5rem;
    color: var(--second-color);
    display: flex;
    align-items: center;
}
.footerTop p{
    margin-left: 6rem;
} 