
.event__heding{
    font-weight: var(--fw-normal);
    font-size: 1.3rem;
    text-align: center;
}
.event__contener{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.event__contener ul li{
    border: 1px solid var(--third-color);
    margin-left: -40px;
}
.event__contener ul{
    display: grid;
    gap: 1rem;
}
.event__item{
    padding: .3rem;
    border-radius: 5px;
}