.leader__style-image{
    border-radius: 50%;
    width: 100px;
    
}
.leader__card-image-contener{
    border: 1px solid var(--third-color);
    display: grid;
    place-content: center;
   height: 120px;
   background-color: var(--four-color);
   border-radius: 5px 5px 0 0;
}

.leader__card-text__header, .leader__card-text__title{
    font-weight: var(--fw-normal);
}

.leader__card-text__headers{
    font-size: 2rem;
}
.leader__card-text-contener{
    display: grid;
    gap:1rem;
    place-content: center;
    place-items: center;
    border: 1px solid var(--third-color);
    border-radius: 0 0 5px 5px;
}
.leader__card-text__title{
    font-size: .8rem;
}