.register{
    background-color: var(--first-color);
    display: grid;
    grid-auto-flow: row;
    place-content: start space-evenly;
    gap: .5rem;
    height: 270px;
    padding-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.register__button{
    border: none;
    padding: .5rem 2rem;
    border-radius: 5px;
}